mixin template({ id, title, category, company, role, technologies, link, label, gallery })
  article.case(id=id)
    header.case__header
      h3.case__title
        span.case__title__text=title

      figure.case__media
        img.case__media__image(
          data-src=`/projects/${id}.jpg`
          data-src-webp=`/projects/${id}.webp`
        )

    .case__information
      p.case__information__detail
        | #[strong.case__information__detail__title Company]
        | #{company}

      p.case__information__detail
        | #[strong.case__information__detail__title Role]
        | #{role}

      p.case__information__detail
        | #[strong.case__information__detail__title Technologies]
        | #{technologies}

      if link
        p.case__information__detail
          | #[strong.case__information__detail__title #{label}]
          | #[a(href=link target="_blank" rel="noreferrer noopener") View →]

    .case__gallery
      each content, index in gallery
        .case__gallery__media
          .case__gallery__media__box(style=`max-width: ${content.width / 10}rem;`)
            span.case__gallery__media__loader
              span
              span
              span

            span.case__gallery__media__placeholder(
              data-src=`/case/${id}/${content.image}.jpg`
              data-src-webp=`/case/${id}/${content.image}.webp`
              style=`padding-top: ${content.height / content.width * 100}%;`
            )

.cases
  +template({
    id: 'work-garage-sale',
    title: 'WORK Garage Sale',
    company: 'WORK Labs',
    role: 'Photographer',
    technologies: 'HDR · Photoshop',
    label: 'Award URL',
    link: 'https://www.commarts.com/project/19636/garage-sale-clubhouse',
    gallery: [
      { image: '1', type: 'screenshot', height: '1280', width: '1920' },
      { image: '2', type: 'screenshot', height: '1278', width: '1920' },
      { image: '3', type: 'screenshot', height: '1280', width: '1280' },
      { image: '4', type: 'screenshot', height: '1280', width: '1280' },
      { image: '5', type: 'screenshot', height: '1280', width: '1280' }
    ]
  })

  +template({
    id: 'revenuers-cut',
    title: 'Revenuer\'s Cut',
    company: 'WORK Labs',
    role: 'Photographer, Designer',
    technologies: 'HDR, Photoshop, Illustrator, Shopify',
    label: 'Client URL',
    link: 'https://worklabs.com/portfolio/revenuers-cut/',
    gallery: [
      { image: '1', type: 'screenshot', height: '639', width: '960' },
      { image: '2', type: 'screenshot', height: '1500', width: '1500' },
      { image: '3', type: 'portrait', height: '1200', width: '776' },
      { image: '4', type: 'landscape', height: '1000', width: '1000' },
      { image: '5', type: 'portrait', height: '1000', width: '750' }
    ]
  })

  +template({
    id: 'mission-gait',
    title: 'Mission Gait',
    company: 'WORK Labs',
    role: 'Photographer, Designer',
    technologies: 'HDR, Photoshop, Illustrator, Squarespace',
    label: 'Live URL',
    link: 'https://missiongait.org/',
    gallery: [
      { image: '1', type: 'portrait', height: '1500', width: '1000' },
      { image: '2', type: 'portrait', height: '1500', width: '1000' },
      { image: '3', type: 'portrait', height: '1500', width: '1000' },
      { image: '4', type: 'portrait', height: '1500', width: '1000' },
      { image: '5', type: 'portrait', height: '1500', width: '1000' },
      { image: '6', type: 'portrait', height: '1500', width: '1000' }
    ]
  })

  +template({
    id: 'omy-gelato',
    title: 'O\'MY Gelato',
    company: 'WORK Labs',
    role: 'Designer, Delevoper',
    technologies: 'HTML, CSS, JS',
    label: 'Live URL',
    link: 'https://omygelato.com/',
    gallery: [
      { image: '1', type: 'landscape', height: '600', width: '1200' }
    ]
  })

  +template({
    id: 'on-the-town',
    title: 'On The Town',
    company: 'Freelance',
    role: 'Designer, Delevoper',
    technologies: 'HTML, CSS, JS, Vue.js',
    label: '',
    link: '#',
    gallery: [
      { image: '1', type: 'landscape', height: '1080', width: '1920' }
    ]
  })

  +template({
    id: 'har-tru',
    title: 'Har Tru',
    company: 'Owen Design Co.',
    role: 'Photographer',
    technologies: 'Capture One, Photoshop',
    label: '',
    link: '#',
    gallery: [
      { image: '1', type: 'landscape', height: '1280', width: '1920' },
      { image: '2', type: 'screenshot', height: '1280', width: '1920' },
      { image: '3', type: 'landscape', height: '1280', width: '1920' },
      { image: '4', type: 'landscape', height: '1280', width: '1920' },
      { image: '5', type: 'portrait', height: '1620', width: '1080' },
      { image: '6', type: 'landscape', height: '1280', width: '1920' }
    ]
  })

  +template({
    id: 'lc-king',
    title: 'LC King Mfg. Co.',
    company: 'WORK Labs, Freelance',
    role: 'Photographer, Designer',
    technologies: 'Capture One, Photoshop, Illustrator, InDesign, Shopify',
    label: 'Client URL',
    link: 'https://www.lcking.com',
    gallery: [
      { image: '1', type: 'landscape', height: '1280', width: '1920' },
      { image: '2', type: 'landscape', height: '1280', width: '1920' },
      { image: '3', type: 'portrait', height: '1800', width: '1500' },
      { image: '4', type: 'portrait', height: '1800', width: '1500' },
      { image: '5', type: 'portrait', height: '1800', width: '1500' },
      { image: '6', type: 'portrait', height: '1800', width: '1500' }
    ]
  })

  +template({
    id: 'cj-deluca',
    title: 'CJ Deluca',
    company: 'Freelance',
    role: 'Photographer, Designer',
    technologies: 'Capture One, Photoshop, Illustrator',
    label: 'Music Videos',
    link: 'https://www.youtube.com/channel/UCKvR_vdgAVNowBraqSQuOng/featured',
    gallery: [
      { image: '1', type: 'landscape', height: '1080', width: '1080' },
      { image: '2', type: 'screenshot', height: '453', width: '848' },
      { image: '3', type: 'landscape', height: '1080', width: '1920' },
      { image: '4', type: 'landscape', height: '1080', width: '1920' },
      { image: '5', type: 'portrait', height: '1080', width: '1920' }
    ]
  })

  +template({
    id: 'richmond-va',
    title: 'Richmond, Va',
    company: 'Freelance',
    role: 'Photographer',
    technologies: 'Capture One, Photoshop',
    label: 'Buy Prints',
    link: '#',
    gallery: [
      { image: '1', type: 'landscape', height: '960', width: '1920' },
      { image: '2', type: 'landscape', height: '1280', width: '1920' },
      { image: '3', type: 'landscape', height: '1439', width: '1920' },
      { image: '4', type: 'landscape', height: '1536', width: '1920' },
      { image: '5', type: 'landscape', height: '803', width: '1920' },
      { image: '6', type: 'landscape', height: '1500', width: '1500' },
      { image: '7', type: 'landscape', height: '1280', width: '1920' },
      { image: '8', type: 'landscape', height: '640', width: '1920' }
    ]
  })
